* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 16px;
}
body > header, section, footer {
    width: 100%;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clearfix::before, .clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.txtToUppercase {
    text-transform: uppercase;
}
.highlighted {
    color: #24ba9f;
	font-weight: bold;
}
.cursor{
    cursor: pointer;
}
a {
    text-decoration: none;
    font-size: 16px;
	font-weight: bold;
}

/*header styles */
body > header {
    background-color: black;
    height: 50px;
    line-height: 50px;
}
body > header .header a {
    color: white;
}
nav > ul {
    position: relative;
}
nav > ul.menu > li {
    display: inline-block;
    padding: 0px 0px 30px 30px;
    font-weight: bold;
}
.submenu {
	background-color: black;
    position: absolute;
    padding: 10px 10px;
    left: -10px;
    width: 150px;
	margin-top: 10px;
	font-size:16px;
    line-height: 25px;
    display: none;
    list-style: none;
}
.submenu::after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -20px;
    right: 75px;
    margin: 10px 10px;
}
nav > ul > li a:hover {
    border-bottom: 2px solid #24ba9f;
}

#slider{
	margin: 0 auto;
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(203, 203, 203)),color-stop(0.029, rgb(203, 203, 203)),color-stop(0.131, rgb(213, 213, 213)),color-stop(0.334, rgb(248, 248, 248)),color-stop(0.532, rgb(248, 248, 248)));
    margin-bottom: 50px;
}
.slider__image{
	width: 600px;
    height: 400px;
}
.sliderList{
    margin: 0 auto;
    width: 500px;
    height: 600px;
}
.sliderList li{
    margin-top: 60px;
    display: none;
    list-style: none;
}
.sliderList .visible{
    display: block;
}

.slider__text {
    width: 34%;
    max-height: 100%;
    text-align: center;
	margin-top: 80px;
	position: relative;
	left: -35px;
}
.slider__text h2{
	font-size: 32px;
	text-align: center;
}
.slider__text p{
	margin-top: 10px;
	line-height: 25px;
}
.slider__arrows__prev, .slider__arrows__next{
	line-height: 440px;
	width:3%;
}
.slider__arrows__prev a, .slider__arrows__next a{
	font-size: 70px;
	color: #24ba9f;
}
.buttonMore{
	background-color: #24ba9f;
	border-radius: 8px;
	padding: 10px;
	color: white;
	font-size: 2em;
	margin-top: 30px;
	border: none;
	cursor: pointer;
}
#products{
	height: 300px;
}
.textShadow{
    position: relative;
	height: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
.box {
	height: 200px;
	float: left;
	width: 320px;
	margin-right: 20px;
}
.box:nth-child(1){
	background-image: url("../images/box1_img.jpg");
	background-size: 100% 100%;
}
.box:nth-child(2){
	background-image: url("../images/box2_img.jpg");
	background-size: 100% 100%;
}
.box:nth-child(3){
	height: 220px;
	margin-right: 0px;
	border: 1px solid #808080;
	border-radius: 1px;
}
.textShadow h3 {
	margin-top: 110px;
	margin-left: 15px;
    padding-top: 8px;
    font-weight: bold;
}
.box:nth-child(3) h3{
	margin: 20px 10px 0px 15px;
    font-weight: bold;
}
.line {
	width: 45%;
	border: 4px solid #24ba9f;
	margin: 5px 0px 0px 15px;
}
.text {
	margin: 10px 10px 0px 15px;
	color: 	#808080;
}
/*oferta*/
#offer{
	background-color: #C0C0C0;
}
.offer{
	height: 800px;
}
.offer h2{
    padding-top: 40px;
	font-size: 26px;
}
.wrapper{
	width: 300px;
	height: 550px;
	position: relative;
	border: 1px solid lightgrey;
	text-align: center;
	float: left;
	background-color: white;
	margin-top: 50px;
}
.center{
    margin-right: 50px;
    margin-left: 50px;
}
.wrapper a{
	background-color: #24ba9f;
	width: 120px;
	line-height: 20px;
	text-decoration: none;
	color: white;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
}
.ring{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #808080;
	position: absolute;
	top: -25px;
	right: 135px;
	background-color: white;
}
.dot{
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #808080;
	margin: 12px 12px;
}
.wrapper h3 {
	font-size: 25px;
	color: #24ba9f;
	margin-top: 40px;
	margin-bottom: 40px;
}
.priceRing{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 1px solid #808080;
	margin-left: 85px;
    background-color: white;
}
.priceRing span:first-child {
	font-weight: bold;
	font-size: 50px;
	line-height: 100px;
}
.priceRing span:nth-child(2) {
	font-size: 32px;
}
.priceRing p {
	font-weight: bold;
	font-size: 15px;
}
.details{
	margin-top: 40px;
	width: 98%;
	height:200px;
    margin-left: 1%;
    margin-right: 1%;
    color: #606060;
}
.delivery {
	font-size: 24px;
}
.service {
	font-size: 24px;
	line-height: 40px;
}
.offer .line, .contact .line {
	margin-left: 0px;
    width: 300px;
}
.details p:nth-child(2n+1){
    background-color: #C0C0C0;
}
.details p:nth-child(2n+2){
    background-color: #E0E0E0;
}
.wrapper:hover .details p:nth-child(2n+1){
    background-color: white;
}
.wrapper:hover, .wrapper:hover .ring {
	background-color: #24ba9f;
    border: none;
}
.wrapper:hover a, .wrapper:hover .dot, .wrapper:hover .priceRing{
    background-color: white;
    color: #24ba9f;
    border: none;
}
.wrapper:hover h3{
    color: white;
}

/*kalkulator - wymaga dopracowania*/
.application {
  background-color: #f9f9f9;
  padding:30px 0;
  height: 600px;
}
.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header.align_right{
  text-align: right;
}
.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}
.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}
.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}
.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}
.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}
.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}
.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;
}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}
.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}
.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  margin-top: 50px;
}
.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 165px;
  vertical-align: top;
  padding-left: 5px;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}
.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  padding-right: 5px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}
.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}
.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}
.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 165px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}
.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}
.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}
.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
}
.display{
    display: none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}
.title {
  height: 30px;
}
/*Formularz*/
.contact {
    height: 600px;
}
.contact h2{
	font-size: 26px;
    padding-top: 40px;
}
.leftForm p {
    margin-top: 24px;
    margin-bottom: 20px;
}
.leftForm{
    float: left;
    width: 600px;
    height: 400px;
}
.rightForm {
    float: right;
    width: 400px;
    height: 400px;
}
input {
    width: 100%;
    height: 50px;
    border: 1px solid #24ba9f;
}
::-webkit-input-placeholder {
    font-family: 'Raleway', 'Arial', sans-serif;
    color: #C0C0C0;
    font-size: 24px;
}
::-moz-placeholder {
    color: #C0C0C0; /* Firefox */
}
::-ms-input-placeholder {
	color: #C0C0C0; /* IE 10+ */
}
textarea {
    resize: none;
    width: 100%;
    height: 230px;
    border: 1px solid #24ba9f;
}
input[type=submit]{
	background-color: #24ba9f;
	width: 350px;
	height: 80px;
	border-radius: 5px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 40px;
    font-family: 'Raleway', 'Arial', sans-serif;
}
.newCheck:after{
    content: "";
    width: 49px;
    height: 49px;
    border: 1px solid #24ba9f;
    background-color: white;
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-left: 25px;
    display: block;
}
input[type=checkbox]{
    width: 52px;
    height: 52px;
    margin-left: 25px;
}

input:checked {
    opacity: 0;
}
.rightForm img{
    margin-left: 68px;
}
label span{
    font-size: 20px;
    margin-left: 10px;
    color: #C0C0C0;
}
/*footer*/
#footer {
    width: 100%;
    height: 100%;
}
.footer{
    color: #808080;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}
.icons {
    margin-top: 5px;
    margin-left: 270px;
}
.footerLogo a{
    font-size: 26px;
    color: #808080;
    font-weight: normal;
}
.footerLogo span{
    font-weight: bold;
}
