* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 16px;
}
body > header, section, footer {
    width: 100%;
}
.container {
    width: 1000px;
    margin: 0 auto;
	height: 100%;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clearfix::before, .clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.txtToUppercase {
    text-transform: uppercase;
}
.highlighted {
    color: #24ba9f;
	font-weight: bold;
}
.cursor{
    cursor: pointer;
}
a {
    text-decoration: none;
    font-size: 12px;
	font-weight: bold;
}

/*header styles */
body > header {
    background-color: black;
    height: 50px;
    line-height: 50px;
}
body > header .header a {
    color: white;
}
nav > ul {
    position: relative;
}
nav > ul.menu > li {
    display: inline-block;
    padding: 0px 0px 30px 10px;
}
.submenu {
	background-color: black;
    position: absolute;
    padding: 10px 10px;
    left: -40px;
    line-height: 20px;
    width: 150px;
	display: none;
	margin-top: 10px;
	font-weight: normal;
}
.submenu::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -20px;
    right: 40px;
    margin: 10px 10px;
}

nav > ul > li a:hover {
    border-bottom: 2px solid #24ba9f;
}
.aboutUs:hover .submenu {
    display: block;
}

#slider{
	height: 500px;
	margin: 0 auto;
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(203, 203, 203)),color-stop(0.029, rgb(203, 203, 203)),color-stop(0.131, rgb(213, 213, 213)),color-stop(0.334, rgb(248, 248, 248)),color-stop(0.532, rgb(248, 248, 248)));
	margin-bottom: 50px;
}
.slider__image{
	width: 60%;
}
.slider__image img{
	height: 455px;
	width: 100%;
}
.slider__text {
    width: 34%;
    max-height: 100%;
    text-align: center;
	margin-top: 70px;
	position: relative;
	left: -70px;
}
.slider__text h2{
	font-size: 32px;
	text-align: center;
}
.slider__text p{
	margin-top: 10px;
	line-height: 25px;
}
.slider__arrows{
	line-height: 440px;
	width:3%;
}
.slider__arrows a{
	font-size: 70px;
	color: #24ba9f;
}
.buttonMore{
	background-color: #24ba9f;
	border-radius: 8px;
	padding: 10px;
	color: white;
	font-size: 2em;
	margin-top: 30px;
	border: none;
	cursor: pointer;
}
#products{
	height: 300px;
}
.textShadow{
    position: relative;
	height: 50px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
.box {
	height: 200px;
	float: left;
	width: 320px;
	margin-right: 20px;
}
.box:nth-child(1){
	background-image: url("../images/box1_img.jpg");
	background-size: 100% 100%;
}
.box:nth-child(2){
	background-image: url("../images/box2_img.jpg");
	background-size: 100% 100%;
}
.box:nth-child(3){
	height: 220px;
	margin-right: 0px;
	border: 1px solid #808080;
	border-radius: 1px;
}
.textShadow h3 {
	margin-top: 110px;
	margin-left: 15px;
    padding-top: 8px;
    font-weight: bold;
}
.box:nth-child(3) h3{
	margin: 20px 10px 0px 15px;
    font-weight: bold;
}
.line {
	width: 45%;
	border: 4px solid #24ba9f;
	margin: 5px 0px 0px 15px;
}
.text {
	margin: 10px 10px 0px 15px;
	color: 	#808080;
}
/*oferta*/
#offer{
	background-color: #C0C0C0;
}
.offer{
	height: 800px;
}
.offer h2{
    padding-top: 40px;
	font-size: 26px;
}
.wrapper{
	width: 300px;
	height: 550px;
	position: relative;
	border: 1px solid lightgrey;
	text-align: center;
	float: left;
	background-color: white;
	margin-top: 50px;
}
.center{
    margin-right: 50px;
    margin-left: 50px;
}
.wrapper a{
	background-color: #24ba9f;
	width: 120px;
	line-height: 20px;
	text-decoration: none;
	color: white;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
}
.ring{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #808080;
	position: absolute;
	top: -25px;
	right: 135px;
	background-color: white;
}
.dot{
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #808080;
	margin: 12px 12px;
}
.wrapper h3 {
	font-size: 25px;
	color: #24ba9f;
	margin-top: 40px;
	margin-bottom: 40px;
}
.priceRing{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 1px solid #808080;
	margin-left: 85px;
    background-color: white;
}
.priceRing span:first-child {
	font-weight: bold;
	font-size: 50px;
	line-height: 100px;
}
.priceRing span:nth-child(2) {
	font-size: 32px;
}
.priceRing p {
	font-weight: bold;
	font-size: 15px;
}
.details{
	margin-top: 40px;
	width: 98%;
	height:200px;
    margin-left: 1%;
    margin-right: 1%;
    color: #606060;
}
.delivery {
	font-size: 24px;
}
.service {
	font-size: 24px;
	line-height: 40px;
}
.offer .line, .contact .line {
	margin-left: 0px;
    width: 300px;
}
.details p:nth-child(2n+1){
    background-color: #C0C0C0;
}
.details p:nth-child(2n+2){
    background-color: #E0E0E0;
}
.wrapper:hover .details p:nth-child(2n+1){
    background-color: white;
}
.wrapper:hover, .wrapper:hover .ring {
	background-color: #24ba9f;
    border: none;
}
.wrapper:hover a, .wrapper:hover .dot, .wrapper:hover .priceRing{
    background-color: white;
    color: #24ba9f;
    border: none;
}
.wrapper:hover h3{
    color: white;
}


/*Formularz*/
.contact {
    height: 600px;
}
.contact h2{
	font-size: 26px;
    padding-top: 40px;
}
.leftForm p {
    margin-top: 24px;
    margin-bottom: 20px;
}
.leftForm{
    float: left;
    width: 600px;
    height: 400px;
}
.rightForm {
    float: right;
    width: 400px;
    height: 400px;
}
input {
    width: 100%;
    height: 50px;
    border: 1px solid #24ba9f;
}
::-webkit-input-placeholder {
    font-family: 'Raleway', 'Arial', sans-serif;
    color: #C0C0C0;
    font-size: 24px;
}
::-moz-placeholder {
    color: #C0C0C0; /* Firefox */
}
::-ms-input-placeholder {
	color: #C0C0C0; /* IE 10+ */
}
textarea {
    resize: none;
    width: 100%;
    height: 230px;
    border: 1px solid #24ba9f;
}
input[type=submit]{
	background-color: #24ba9f;
	width: 350px;
	height: 80px;
	border-radius: 5px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 40px;
    font-family: 'Raleway', 'Arial', sans-serif;
}
.newCheck:after{
    content: "";
    width: 49px;
    height: 49px;
    border: 1px solid #24ba9f;
    background-color: white;
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-left: 25px;
    display: block;
}
input[type=checkbox]{
    width: 50px;
    margin-left: 25px;
}

input:checked {
    opacity: 0;
}
.rightForm img{
    margin-left: 68px;
}
label span{
    font-size: 20px;
    margin-left: 10px;
    color: #C0C0C0;
}
/*footer*/

#footer {
    width: 100%;
    height: 100%;
}
.footer{
    color: #808080;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}
.icons {
    margin-top: 5px;
    margin-left: 270px;
}
.footerLogo {
    font-size: 26px;
    color: #808080;
}
